body {
    text-align: center;
    max-width: 1600px;
    background-color: rgb(187, 186, 186);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.main_logo {
    width: 80px;
    height: auto;
    padding: 8px;
}
.banner {
    background-color: rgb(187, 186, 186);
    opacity: 0.9;
}
.icon {
    margin: 200px 0;
    width: 80px;
    padding-top: 10px;
}
#content {
    margin: 0 auto;
}
.logo_text {
    font-size: 2em;
    height: 25px;
    margin-top: 10px;
    font-family: "Brush Script MT", Times, serif;}
header {
    background-color:rgba(225, 124, 0, 0.7);
    box-sizing: border-box;
}
.resize {
    width: 50px;
    height: auto;
    padding-top: 15px;
}
nav a {
    background-color: rgb(143, 143, 143);
    color: #000000;
    text-decoration: none;
    padding: 35px
}
nav a:hover {
    background-color: rgb(255, 16, 16);
}
.book {
    border-radius: 5px;
    font-size: 18px;
    margin-top: 50px;
    padding:15px 30px;
    background-color: rgb(159, 159, 159);
    color: #0c0c0c;
    text-decoration: none;
} 
.join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    background-color: rgb(159, 159, 159);
    color: #0c0c0c;
    text-decoration: none;
    border-radius: 5px;
}  
.book:hover {
    background-color: rgb(252, 88, 0);
}
.join:hover {
    background-color: rgb(252, 88, 0);
}
.msg {
    font-size: .8em; 
    background-color:rgba(225, 124, 0, 0.7);
    color: #ffffff;
    line-height: 1.5em;
    padding: 35px;
} 
.msg p {
    padding-bottom: 15px;
}  
footer {
    background-color: #ffffff;
    color: #000000;
    padding: 25px 50px;
}  
footer a {
    margin-top: 200px;
    background-color: rgb(159, 159, 159);
    color: #000000;
    text-decoration: none
}  
footer a:hover {
    background-color: rgb(252, 88, 0);
}
footer p {
    font-size: 1.2em;
}
footer p:hover {
    text-decoration: underline;
}
.box_pic {
    border: 10px solid #d9c2a3;
}
.double_size_font {
    font-size: 2em;
}