header {
    background-color: rgb(137, 207, 240) ;
}
:root {
    --heading-font: "Chinyen";
    --paragraph-font: "Lexie Readable Regular, sans-serif, Helvetica,";      
}
.Logo-grid {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
}
.Logo {
    width: 450px;
    height: auto;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.divider {
    background-color: black;
    width: auto;
    height: 65px;
    justify-self: center;
    align-self: center;
}
.Purpose-grid{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    background-color: blanchedalmond;
}
#purpose {
    margin-top: 25px;
    background-color:rgba(137, 207, 240);
    padding: 35px;
    justify-self: center;
    align-self: center;
    width: 700px;
    height: 78px;
    box-shadow: 5px 5px 10px #6f7364;
    font-size: 100px;
    font-family: var(--heading-font);
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/1;
}
#f_student {
    margin-top: 25px;
    background-color:rgba(137, 207, 240);
    padding: 35px;
    justify-self: center;
    align-self: center;
    width: 400px;
    height: 35px;
    box-shadow: 5px 5px 10px #8F00FF;
    font-size: 40px;
    font-family: var(--paragraph-font);
    text-align: center;
    grid-column: 1;
    grid-row: 2;
}
#f_teacher {
    margin-top: 25px;
    background-color:rgba(137, 207, 240);
    padding: 35px;
    justify-self: center;
    align-self: center;
    width: 400px;
    height: 35px;
    box-shadow: 5px 5px 10px #8F00FF;
    font-size: 40px;
    font-family: var(--paragraph-font);
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}
#s_student {
    margin-top: 25px;
    background-color:gray;
    padding: 35px;
    justify-self: center;
    align-self: center;
    width: 75%;
    height: 550px;
    box-shadow: 5px 5px 10px #8F00FF;
    font-size: 40px;
    font-family: var(--paragraph-font);
    text-align: center;
    grid-column: 1;
    grid-row: 3;
}
#s_teacher {
    margin-top: 25px;
    background-color: gray;
    padding: 35px;
    justify-self: center;
    align-self: center;
    width: 75%;
    height: 550px;
    box-shadow: 5px 5px 10px #8F00FF;
    font-size: 40px;
    font-family: var(--paragraph-font);
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}
#calculator {
    margin-top: 75px;
    background-color:rgba(137, 207, 240);
    padding: 35px;
    justify-self: center;
    align-self: center;
    width: 700px;
    height: 78px;
    box-shadow: 5px 5px 10px #6f7364;
    font-size: 100px;
    font-family: var(--heading-font);
    text-align:center;
    grid-column: 1/3;
    grid-row: 4;
}
#c_simp {
    margin-top: 25px;
    background-color: #8F00FF;
    padding: 35px;
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 60px;
    font-size: 40px;
    font-family: var(--paragraph-font);
    text-align: center;
    grid-column: 1;
    grid-row: 5;
}
#c_comp {
    margin-top: 2px;
    background-color: #8F00FF;
    padding: 35px;
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 60px;
    font-size: 40px;
    font-family: var(--paragraph-font);
    text-align: center;
    grid-column: 2;
    grid-row: 5;
}
footer {
    background-color: #6f7364;
    padding: 10px 15px;
    margin-top: 2.5%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.end p {
    font-size: 1.2em;
    font-family: var(--paragraph-font);
}
.end p:hover {
    text-decoration: underline;
    background-color: #8F00FF;
    color: white;
}